<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-12-06T19:15:53Z</date>
	<key>WorkspacePath</key>
	<string>/Users/Ulrich/Documents/Misc/Xcode/Rush_Hour-c248daee990d10e2aeb63e40be23a088a636328c/Rush_Hour.xcodeproj</string>
</dict>
</plist>
